.player{

    &--0{
        height: 20rem;
        width: 20rem;
        border: 2px solid green;
    }

    &--active{
    background-color: lightblue;
    }

    &--1{
        height: 20rem;
        width: 20rem;
        border: 2px solid orangered;
    }
.name{

}

.score{

}

.current{

&-label{

}

}

}   

.buttons{
    float: right;
    position: absolute;
    top: 20%;
    left:40%;
}

.hidden{
    display:none;
}

.player--winner{
    background-color: gray;
}